/.gradle
/build
.DS_Store
build/
lib/
.gradle

.idea/
*.iml

example-kotlin/userHome
example-java/userHome

local.properties
.sdkmanrc
.env

ContractHash*.kt
ContractHash*.java
io.p8e.contracts.ContractHash
ProtoHash*.kt
ProtoHash*.java
io.p8e.proto.ProtoHash
