/.gradle
/build
.DS_Store
build/
lib/
.gradle

.idea/
*.iml

example-kotlin/userHome
example-java/userHome

local.properties
.sdkmanrc
.env

example-kotlin/contracts/src/main/kotlin/io/p8e/contracts/example/ContractHash*.java
example-kotlin/contracts/src/main/resources/META-INF/services/io.p8e.contracts.ContractHash
example-java/protos/src/main/kotlin/io/p8e/proto/example/ProtoHash*.java
example-java/protos/src/main/resources/META-INF/services/io.p8e.proto.ProtoHash
